Data source - https://www.football-data.co.uk/

In [86]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

df_last = pd.read_csv('data/2022-2023.csv')
df_current = pd.read_csv('data/2023-2024.csv')


# Join the two seasons together

df = pd.concat([df_last, df_current], ignore_index=True)
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA,B365>2.5,B365<2.5,P>2.5,P<2.5,Max>2.5,Max<2.5,Avg>2.5,Avg<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA,B365CH,B365CD,B365CA,BWCH,BWCD,BWCA,IWCH,IWCD,IWCA,PSCH,PSCD,PSCA,WHCH,WHCD,WHCA,VCCH,VCCD,VCCA,MaxCH,MaxCD,MaxCA,AvgCH,AvgCD,AvgCA,B365C>2.5,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,A,A Taylor,10,10,2,2,16,11,3,5,1,2,0,0,4.20,3.60,1.85,4.33,3.50,1.87,4.30,3.55,1.85,4.50,3.65,1.89,4.40,3.50,1.83,4.60,3.50,1.87,4.60,3.78,1.95,4.39,3.59,1.88,2.10,1.72,2.14,1.78,2.19,1.91,2.09,1.76,0.50,2.04,1.89,2.03,1.89,2.06,1.91,2.01,1.87,4.50,3.60,1.80,4.50,3.5,1.83,4.40,3.55,1.85,4.58,3.63,1.88,4.80,3.40,1.78,4.75,3.5,1.85,5.01,3.70,1.91,4.56,3.57,1.85,2.10,1.72,2.14,1.78,2.19,1.91,2.08,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,H,A Madley,9,11,3,4,7,9,4,4,2,0,0,0,11.00,6.00,1.25,10.00,5.75,1.28,12.00,5.75,1.27,11.20,6.22,1.28,12.00,5.50,1.27,13.00,6.00,1.25,13.00,6.40,1.31,10.99,6.05,1.28,1.50,2.62,1.50,2.70,1.54,2.76,1.48,2.63,1.75,1.90,2.03,1.91,2.00,1.92,2.04,1.89,1.99,11.00,5.75,1.28,9.25,6.0,1.29,11.00,5.50,1.30,10.50,6.50,1.29,11.00,5.50,1.27,11.50,6.0,1.29,11.95,6.93,1.30,10.33,6.20,1.28,1.50,2.62,1.49,2.77,1.51,3.00,1.47,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,H,P Bankes,7,15,3,2,18,16,5,5,3,3,0,0,3.75,3.50,2.00,3.75,3.40,2.00,3.65,3.45,2.05,3.93,3.58,2.04,3.75,3.30,2.05,3.75,3.30,2.00,4.00,3.66,2.10,3.80,3.50,2.04,2.00,1.80,2.10,1.81,2.10,1.87,2.03,1.80,0.50,1.87,2.06,1.88,2.04,1.88,2.07,1.85,2.04,4.00,3.50,1.95,3.90,3.4,1.95,3.85,3.45,2.00,4.09,3.59,2.00,4.00,3.40,1.95,4.10,3.4,2.00,4.25,3.63,2.06,3.99,3.49,2.00,2.10,1.72,2.13,1.79,2.24,1.81,2.10,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,D,R Jones,12,15,4,6,13,9,6,4,2,0,0,0,2.25,3.40,3.20,2.30,3.30,2.95,2.30,3.30,3.15,2.39,3.33,3.30,2.25,3.30,3.20,2.30,3.20,3.10,2.42,3.54,3.30,2.34,3.34,3.18,2.05,1.85,2.09,1.83,2.11,1.87,2.03,1.81,-0.25,2.05,1.88,2.04,1.89,2.06,1.90,2.01,1.87,2.37,3.30,3.00,2.40,3.3,2.75,2.45,3.30,2.95,2.45,3.44,3.09,2.40,3.30,2.90,2.40,3.4,3.00,2.50,3.55,3.18,2.43,3.36,3.02,1.95,1.95,1.96,1.94,2.09,1.96,1.96,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,D,S Hooper,23,5,10,0,9,14,11,1,0,3,0,0,1.66,3.80,5.25,1.65,3.80,5.50,1.65,3.80,5.50,1.71,3.74,5.83,1.67,3.70,5.25,1.62,3.70,5.50,1.72,3.96,6.00,1.67,3.80,5.57,2.05,1.85,2.10,1.81,2.10,1.86,2.03,1.81,-0.75,1.87,2.06,1.92,2.01,1.92,2.08,1.86,2.02,1.53,4.00,6.00,1.58,3.9,6.00,1.63,3.80,6.00,1.57,4.22,6.60,1.53,3.90,6.50,1.57,3.9,7.00,1.67,4.30,7.00,1.59,4.07,6.15,1.94,1.96,1.97,1.93,2.06,1.97,1.94,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,E0,13/03/2024,19:30,Bournemouth,Luton,4,3,H,0,3,A,S Allison,24,8,10,4,16,11,11,3,1,2,0,0,1.50,4.75,5.75,1.50,4.60,5.75,NaN,NaN,NaN,1.51,4.71,6.18,1.44,4.80,5.80,1.45,4.60,6.00,1.55,4.98,6.40,1.50,4.77,6.00,1.44,2.70,1.48,2.75,1.49,2.82,1.47,2.71,-1.25,2.05,1.85,2.06,1.85,2.09,1.90,2.03,1.83,1.53,4.75,5.50,1.51,4.8,5.50,NaN,NaN,NaN,1.53,4.89,5.69,1.53,4.80,5.50,1.50,4.8,5.50,1.57,5.00,6.00,1.52,4.87,5.65,1.40,2.88,1.41,3.04,1.43,3.10,1.40,2.99,-1.00,1.84,2.06,1.85,2.09,1.87,2.13,1.82,2.07
659,E0,16/03/2024,15:00,Burnley,Brentford,2,1,H,1,0,H,D Bond,17,9,6,5,14,17,5,4,2,4,0,1,3.25,3.60,2.15,3.20,3.60,2.15,NaN,NaN,NaN,3.23,3.72,2.20,3.20,3.70,2.10,3.25,3.50,2.10,3.41,3.80,2.21,3.27,3.66,2.16,1.75,2.05,1.78,2.12,1.80,2.17,1.75,2.10,0.25,1.99,1.91,1.98,1.92,2.00,1.94,1.96,1.87,3.10,3.75,2.20,3.10,3.5,2.25,NaN,NaN,NaN,3.18,3.65,2.28,3.10,3.70,2.20,3.13,3.6,2.20,3.27,3.80,2.33,3.12,3.64,2.26,1.70,2.10,1.77,2.16,1.78,2.21,1.74,2.13,0.25,1.95,1.95,1.94,1.98,1.97,2.00,1.91,1.94
660,E0,16/03/2024,15:00,Luton,Nott'm Forest,1,1,D,0,1,A,D England,10,16,4,6,10,17,6,7,1,2,0,0,2.80,3.50,2.45,2.70,3.60,2.45,NaN,NaN,NaN,2.83,3.69,2.44,2.75,3.70,2.38,2.80,3.50,2.30,2.95,3.80,2.47,2.81,3.63,2.42,1.67,2.15,1.69,2.26,1.73,2.31,1.68,2.22,0.25,1.81,2.09,1.79,2.13,1.81,2.17,1.77,2.08,2.63,3.40,2.63,2.60,3.5,2.60,NaN,NaN,NaN,2.67,3.59,2.67,2.60,3.75,2.55,2.55,3.6,2.63,2.70,3.75,2.80,2.63,3.58,2.64,1.70,2.10,1.72,2.20,1.78,2.34,1.68,2.23,0.00,1.95,1.95,1.96,1.96,1.97,1.99,1.94,1.94
661,E0,16/03/2024,17:30,Fulham,Tottenham,3,0,H,1,0,H,R Jones,16,14,7,5,9,10,4,5,2,3,0,0,3.50,3.80,1.95,3.30,3.80,2.00,NaN,NaN,NaN,3.42,4.09,2.01,3.40,4.00,1.95,3.40,3.75,1.95,3.54,4.16,2.08,3.40,3.93,2.01,1.48,2.60,1.50,2.70,1.52,2.72,1.49,2.62,0.50,1.89,2.01,1.89,2.02,1.93,2.05,1.86,2.00,3.25,4.00,2.00,3.25,3.9,2.00,NaN,NaN,NaN,3.45,4.00,2.05,3.25,4.00,2.00,3.40,3.9,2.00,3.51,4.10,2.13,3.34,3.94,2.05,1.44,2.70,1.49,2.72,1.50,2.84,1.47,2.72,0.50,1.86,2.04,1.88,2.05,1.90,2.11,1.83,2.04
662,E0,17/03/2024,14:00,West Ham,Aston Villa,1,1,D,1,0,H,J Gillett,13,13,5,5,13,12,7,11,3,3,0,0,2.63,3.75,2.45,2.65,3.70,2.45,NaN,NaN,NaN,2.66,3.82,2.52,2.60,3.75,2.45,2.60,3.50,2.45,2.75,3.92,2.58,2.65,3.73,2.51,1.57,2.35,1.58,2.50,1.63,2.55,1.56,2.44,0.00,2.01,1.89,2.01,1.90,2.04,1.91,1.99,1.88,2.38,3.75,2.80,2.40,3.5,2.80,NaN,NaN,NaN,2.48,3.69,2.83,2.50,3.75,2.62,2.40,3.7,2.75,2.50,3.80,2.88,2.45,3.63,2.77,1.57,2.35,1.63,2.42,1.63,2.50,1.58,2.39,0.00,1.83,2.10,1.84,2.10,1.85,2.12,1.82,2.06

# Selecting only match related columns. 

- Match Statistics (where available)
- Attendance = Crowd Attendance
- Referee = Match Referee
- HS = Home Team Shots
- AS = Away Team Shots
- HST = Home Team Shots on Target
- AST = Away Team Shots on Target
- HHW = Home Team Hit Woodwork
- AHW = Away Team Hit Woodwork
- HC = Home Team Corners
- AC = Away Team Corners
- HF = Home Team Fouls Committed
- AF = Away Team Fouls Committed
- HFKC = Home Team Free Kicks Conceded
- AFKC = Away Team Free Kicks Conceded
- HO = Home Team Offsides
- AO = Away Team Offsides
- HY = Home Team Yellow Cards
- AY = Away Team Yellow Cards
- HR = Home Team Red Cards
- AR = Away Team Red Cards
- HBP = Home Team Bookings Points (10 = yellow, 25 = red)
- ABP = Away Team Bookings Points (10 = yellow, 25 = red)

In [87]:
df = df[df.columns[:24]].copy()
df.loc[:,'Day'] = df['Date'].apply(lambda x:x.split('/')[0])
df.loc[:,'Month'] = df['Date'].apply(lambda x:x.split('/')[1])
df.loc[:,'Year'] = df['Date'].apply(lambda x:x.split('/')[2])
df.loc[:,'Hour'] = df['Time'].apply(lambda x:x.split(":")[0])
df.loc[:,'Min'] = df['Time'].apply(lambda x:x.split(":")[1])
df = df.drop(columns = ['Date', 'Time'])
df = df.sort_values(by= ['Year', 'Month', 'Day', 'Hour']).reset_index(drop = True)
df

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Day,Month,Year,Hour,Min
0,E0,Crystal Palace,Arsenal,0,2,A,0,1,A,A Taylor,10,10,2,2,16,11,3,5,1,2,0,0,05,08,2022,20,00
1,E0,Fulham,Liverpool,2,2,D,1,0,H,A Madley,9,11,3,4,7,9,4,4,2,0,0,0,06,08,2022,12,30
2,E0,Bournemouth,Aston Villa,2,0,H,1,0,H,P Bankes,7,15,3,2,18,16,5,5,3,3,0,0,06,08,2022,15,00
3,E0,Leeds,Wolves,2,1,H,1,1,D,R Jones,12,15,4,6,13,9,6,4,2,0,0,0,06,08,2022,15,00
4,E0,Newcastle,Nott'm Forest,2,0,H,0,0,D,S Hooper,23,5,10,0,9,14,11,1,0,3,0,0,06,08,2022,15,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,E0,Bournemouth,Luton,4,3,H,0,3,A,S Allison,24,8,10,4,16,11,11,3,1,2,0,0,13,03,2024,19,30
659,E0,Burnley,Brentford,2,1,H,1,0,H,D Bond,17,9,6,5,14,17,5,4,2,4,0,1,16,03,2024,15,00
660,E0,Luton,Nott'm Forest,1,1,D,0,1,A,D England,10,16,4,6,10,17,6,7,1,2,0,0,16,03,2024,15,00
661,E0,Fulham,Tottenham,3,0,H,1,0,H,R Jones,16,14,7,5,9,10,4,5,2,3,0,0,16,03,2024,17,30
662,E0,West Ham,Aston Villa,1,1,D,1,0,H,J Gillett,13,13,5,5,13,12,7,11,3,3,0,0,17,03,2024,14,00

In [88]:
# first part we need:
# 1. A row for each match, from the pespective of both the home and away team.
# 2. A column called team_playing
# 3. A column for opponent

df['team_playing'] = df['HomeTeam']
df['opponent'] = df['AwayTeam']

df2 = df.copy()
df2['team_playing'] = df2['AwayTeam']
df2['opponent'] = df2['HomeTeam']

In [89]:
# we need:
# Columns describing:
# 1. What the team_playing did. We will use these columns to compute rolling statistics of the team playing.
# 2. Columns describing what the opponent did? Yes because does that represent the team_playing, and how oppositions have done against them right?
#  

df = df[['team_playing', 'opponent', 'HomeTeam', 'AwayTeam', 'FTHG', 'HTHG', 'HS', 'HST', 'HF', 'HC', 'HY', 'HR', 
        'Day', 'Month', 'Year', 'Hour',
        'FTAG', 'HTAG', 'AS', 'AST', 'AF', 'AC', 'AY', 'AR', 'FTR', 'Referee']]

df2 = df2[['team_playing', 'opponent','HomeTeam', 'AwayTeam','FTAG', 'HTAG', 'AS', 'AST', 'AF', 'AC', 'AY', 'AR', 
            'Day', 'Month', 'Year', 'Hour',
            'FTHG', 'HTHG', 'HS', 'HST', 'HF', 'HC', 'HY', 'HR', 'FTR', 'Referee']]


# We have two datasets. Each containing a team_playing column. df is when the team_playing is the home team and df2 is when 
# the team playing is the away team.

# We need to convert these column names from home and way to team_playing stats and opponent stats.

In [90]:
# First we change the home team. So we need to rename the columns that represent the home teams to say TP for team playing.


df = df.rename(columns = {'FTHG':'FT_TP_G', 
            'HTHG':'HT_TP_G', 
            'HS':'TP_S', 
            'HST':'TP_ST', 
            'HF':'TP_F',
            'HC': 'TP_C',
            'HY':'TP_Y', 
            'HR':'TP_R',
            'FTAG':'FT_OP_G', 
            'HTAG':'HT_OP_G', 
            'AS':'OP_S', 
            'AST':'OP_ST', 
            'AF':'OP_F',
            'AC': 'OP_C',
            'AY':'OP_Y', 
            'AR':'OP_R'})
df

,team_playing,opponent,HomeTeam,AwayTeam,FT_TP_G,HT_TP_G,TP_S,TP_ST,TP_F,TP_C,TP_Y,TP_R,Day,Month,Year,Hour,FT_OP_G,HT_OP_G,OP_S,OP_ST,OP_F,OP_C,OP_Y,OP_R,FTR,Referee
0,Crystal Palace,Arsenal,Crystal Palace,Arsenal,0,0,10,2,16,3,1,0,05,08,2022,20,2,1,10,2,11,5,2,0,A,A Taylor
1,Fulham,Liverpool,Fulham,Liverpool,2,1,9,3,7,4,2,0,06,08,2022,12,2,0,11,4,9,4,0,0,D,A Madley
2,Bournemouth,Aston Villa,Bournemouth,Aston Villa,2,1,7,3,18,5,3,0,06,08,2022,15,0,0,15,2,16,5,3,0,H,P Bankes
3,Leeds,Wolves,Leeds,Wolves,2,1,12,4,13,6,2,0,06,08,2022,15,1,1,15,6,9,4,0,0,H,R Jones
4,Newcastle,Nott'm Forest,Newcastle,Nott'm Forest,2,0,23,10,9,11,0,0,06,08,2022,15,0,0,5,0,14,1,3,0,H,S Hooper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Bournemouth,Luton,Bournemouth,Luton,4,0,24,10,16,11,1,0,13,03,2024,19,3,3,8,4,11,3,2,0,H,S Allison
659,Burnley,Brentford,Burnley,Brentford,2,1,17,6,14,5,2,0,16,03,2024,15,1,0,9,5,17,4,4,1,H,D Bond
660,Luton,Nott'm Forest,Luton,Nott'm Forest,1,0,10,4,10,6,1,0,16,03,2024,15,1,1,16,6,17,7,2,0,D,D England
661,Fulham,Tottenham,Fulham,Tottenham,3,1,16,7,9,4,2,0,16,03,2024,17,0,0,14,5,10,5,3,0,H,R Jones
662,West Ham,Aston Villa,West Ham,Aston Villa,1,1,13,5,13,7,3,0,17,03,2024,14,1,0,13,5,12,11,3,0,D,J Gillett

In [91]:
df2 = df2.rename(columns = {'FTHG':'FT_OP_G', 
            'HTHG':'HT_OP_G', 
            'HS':'OP_S', 
            'HST':'OP_ST', 
            'HF':'OP_F',
            'HC': 'OP_C',
            'HY':'OP_Y', 
            'HR':'OP_R',
            'FTAG':'FT_TP_G', 
            'HTAG':'HT_TP_G', 
            'AS':'TP_S', 
            'AST':'TP_ST', 
            'AF':'TP_F',
            'AC': 'TP_C',
            'AY':'TP_Y', 
            'AR':'TP_R'})

df2

,team_playing,opponent,HomeTeam,AwayTeam,FT_TP_G,HT_TP_G,TP_S,TP_ST,TP_F,TP_C,TP_Y,TP_R,Day,Month,Year,Hour,FT_OP_G,HT_OP_G,OP_S,OP_ST,OP_F,OP_C,OP_Y,OP_R,FTR,Referee
0,Arsenal,Crystal Palace,Crystal Palace,Arsenal,2,1,10,2,11,5,2,0,05,08,2022,20,0,0,10,2,16,3,1,0,A,A Taylor
1,Liverpool,Fulham,Fulham,Liverpool,2,0,11,4,9,4,0,0,06,08,2022,12,2,1,9,3,7,4,2,0,D,A Madley
2,Aston Villa,Bournemouth,Bournemouth,Aston Villa,0,0,15,2,16,5,3,0,06,08,2022,15,2,1,7,3,18,5,3,0,H,P Bankes
3,Wolves,Leeds,Leeds,Wolves,1,1,15,6,9,4,0,0,06,08,2022,15,2,1,12,4,13,6,2,0,H,R Jones
4,Nott'm Forest,Newcastle,Newcastle,Nott'm Forest,0,0,5,0,14,1,3,0,06,08,2022,15,2,0,23,10,9,11,0,0,H,S Hooper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Luton,Bournemouth,Bournemouth,Luton,3,3,8,4,11,3,2,0,13,03,2024,19,4,0,24,10,16,11,1,0,H,S Allison
659,Brentford,Burnley,Burnley,Brentford,1,0,9,5,17,4,4,1,16,03,2024,15,2,1,17,6,14,5,2,0,H,D Bond
660,Nott'm Forest,Luton,Luton,Nott'm Forest,1,1,16,6,17,7,2,0,16,03,2024,15,1,0,10,4,10,6,1,0,D,D England
661,Tottenham,Fulham,Fulham,Tottenham,0,0,14,5,10,5,3,0,16,03,2024,17,3,1,16,7,9,4,2,0,H,R Jones
662,Aston Villa,West Ham,West Ham,Aston Villa,1,0,13,5,12,11,3,0,17,03,2024,14,1,1,13,5,13,7,3,0,D,J Gillett

In [94]:
df_final = pd.concat([df, df2], ignore_index=True)
df_final = df_final.sort_values(by = ['Year', 'Day', 'Month', 'Hour', 'Referee']).reset_index(drop = True)
df_final

,team_playing,opponent,HomeTeam,AwayTeam,FT_TP_G,HT_TP_G,TP_S,TP_ST,TP_F,TP_C,TP_Y,TP_R,Day,Month,Year,Hour,FT_OP_G,HT_OP_G,OP_S,OP_ST,OP_F,OP_C,OP_Y,OP_R,FTR,Referee
0,Leicester,Man United,Leicester,Man United,0,0,10,2,7,1,1,0,01,09,2022,20,1,1,9,2,15,3,3,0,A,C Pawson
1,Man United,Leicester,Leicester,Man United,1,1,9,2,15,3,3,0,01,09,2022,20,0,0,10,2,7,1,1,0,A,C Pawson
2,Arsenal,Tottenham,Arsenal,Tottenham,3,1,22,9,10,5,2,0,01,10,2022,12,1,1,7,3,10,2,1,1,H,A Taylor
3,Tottenham,Arsenal,Arsenal,Tottenham,1,1,7,3,10,2,1,1,01,10,2022,12,3,1,22,9,10,5,2,0,H,A Taylor
4,Liverpool,Brighton,Liverpool,Brighton,3,1,15,7,9,9,1,0,01,10,2022,15,3,2,6,6,13,2,1,0,D,A Madley
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,Brentford,Tottenham,Tottenham,Brentford,2,1,9,5,15,3,3,0,31,01,2024,19,3,0,19,5,13,5,2,0,H,D Coote
1322,Man City,Burnley,Man City,Burnley,3,2,14,4,3,7,2,0,31,01,2024,19,1,0,8,3,13,3,2,0,H,S Barrott
1323,Burnley,Man City,Man City,Burnley,1,0,8,3,13,3,2,0,31,01,2024,19,3,2,14,4,3,7,2,0,H,S Barrott
1324,Liverpool,Chelsea,Liverpool,Chelsea,4,2,28,13,15,8,2,0,31,01,2024,20,1,0,4,3,16,1,4,0,H,P Tierney
1325,Chelsea,Liverpool,Liverpool,Chelsea,1,0,4,3,16,1,4,0,31,01,2024,20,4,2,28,13,15,8,2,0,H,P Tierney

In [95]:
# create is_home feature.

df_final['is_home'] = (df_final['team_playing'] == df_final['HomeTeam']).astype(int)
df_final

,team_playing,opponent,HomeTeam,AwayTeam,FT_TP_G,HT_TP_G,TP_S,TP_ST,TP_F,TP_C,TP_Y,TP_R,Day,Month,Year,Hour,FT_OP_G,HT_OP_G,OP_S,OP_ST,OP_F,OP_C,OP_Y,OP_R,FTR,Referee,is_home
0,Leicester,Man United,Leicester,Man United,0,0,10,2,7,1,1,0,01,09,2022,20,1,1,9,2,15,3,3,0,A,C Pawson,1
1,Man United,Leicester,Leicester,Man United,1,1,9,2,15,3,3,0,01,09,2022,20,0,0,10,2,7,1,1,0,A,C Pawson,0
2,Arsenal,Tottenham,Arsenal,Tottenham,3,1,22,9,10,5,2,0,01,10,2022,12,1,1,7,3,10,2,1,1,H,A Taylor,1
3,Tottenham,Arsenal,Arsenal,Tottenham,1,1,7,3,10,2,1,1,01,10,2022,12,3,1,22,9,10,5,2,0,H,A Taylor,0
4,Liverpool,Brighton,Liverpool,Brighton,3,1,15,7,9,9,1,0,01,10,2022,15,3,2,6,6,13,2,1,0,D,A Madley,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,Brentford,Tottenham,Tottenham,Brentford,2,1,9,5,15,3,3,0,31,01,2024,19,3,0,19,5,13,5,2,0,H,D Coote,0
1322,Man City,Burnley,Man City,Burnley,3,2,14,4,3,7,2,0,31,01,2024,19,1,0,8,3,13,3,2,0,H,S Barrott,1
1323,Burnley,Man City,Man City,Burnley,1,0,8,3,13,3,2,0,31,01,2024,19,3,2,14,4,3,7,2,0,H,S Barrott,0
1324,Liverpool,Chelsea,Liverpool,Chelsea,4,2,28,13,15,8,2,0,31,01,2024,20,1,0,4,3,16,1,4,0,H,P Tierney,1
1325,Chelsea,Liverpool,Liverpool,Chelsea,1,0,4,3,16,1,4,0,31,01,2024,20,4,2,28,13,15,8,2,0,H,P Tierney,0

In [97]:
df_final

,team_playing,opponent,HomeTeam,AwayTeam,FT_TP_G,HT_TP_G,TP_S,TP_ST,TP_F,TP_C,TP_Y,TP_R,Day,Month,Year,Hour,FT_OP_G,HT_OP_G,OP_S,OP_ST,OP_F,OP_C,OP_Y,OP_R,FTR,Referee,is_home
0,Leicester,Man United,Leicester,Man United,0,0,10,2,7,1,1,0,01,09,2022,20,1,1,9,2,15,3,3,0,A,C Pawson,1
1,Man United,Leicester,Leicester,Man United,1,1,9,2,15,3,3,0,01,09,2022,20,0,0,10,2,7,1,1,0,A,C Pawson,0
2,Arsenal,Tottenham,Arsenal,Tottenham,3,1,22,9,10,5,2,0,01,10,2022,12,1,1,7,3,10,2,1,1,H,A Taylor,1
3,Tottenham,Arsenal,Arsenal,Tottenham,1,1,7,3,10,2,1,1,01,10,2022,12,3,1,22,9,10,5,2,0,H,A Taylor,0
4,Liverpool,Brighton,Liverpool,Brighton,3,1,15,7,9,9,1,0,01,10,2022,15,3,2,6,6,13,2,1,0,D,A Madley,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,Brentford,Tottenham,Tottenham,Brentford,2,1,9,5,15,3,3,0,31,01,2024,19,3,0,19,5,13,5,2,0,H,D Coote,0
1322,Man City,Burnley,Man City,Burnley,3,2,14,4,3,7,2,0,31,01,2024,19,1,0,8,3,13,3,2,0,H,S Barrott,1
1323,Burnley,Man City,Man City,Burnley,1,0,8,3,13,3,2,0,31,01,2024,19,3,2,14,4,3,7,2,0,H,S Barrott,0
1324,Liverpool,Chelsea,Liverpool,Chelsea,4,2,28,13,15,8,2,0,31,01,2024,20,1,0,4,3,16,1,4,0,H,P Tierney,1
1325,Chelsea,Liverpool,Liverpool,Chelsea,1,0,4,3,16,1,4,0,31,01,2024,20,4,2,28,13,15,8,2,0,H,P Tierney,0

In [108]:
# Now we need to create a binary target column that tells us if the team_playing won the match.

df_final['target'] = (((df_final['is_home']==1) & (df_final['FTR']=='H')) | ((df_final['is_home']==0) & (df_final['FTR']=='A')))
df_final

,team_playing,opponent,HomeTeam,AwayTeam,FT_TP_G,HT_TP_G,TP_S,TP_ST,TP_F,TP_C,TP_Y,TP_R,Day,Month,Year,Hour,FT_OP_G,HT_OP_G,OP_S,OP_ST,OP_F,OP_C,OP_Y,OP_R,FTR,Referee,is_home,target
0,Leicester,Man United,Leicester,Man United,0,0,10,2,7,1,1,0,01,09,2022,20,1,1,9,2,15,3,3,0,A,C Pawson,1,False
1,Man United,Leicester,Leicester,Man United,1,1,9,2,15,3,3,0,01,09,2022,20,0,0,10,2,7,1,1,0,A,C Pawson,0,True
2,Arsenal,Tottenham,Arsenal,Tottenham,3,1,22,9,10,5,2,0,01,10,2022,12,1,1,7,3,10,2,1,1,H,A Taylor,1,True
3,Tottenham,Arsenal,Arsenal,Tottenham,1,1,7,3,10,2,1,1,01,10,2022,12,3,1,22,9,10,5,2,0,H,A Taylor,0,False
4,Liverpool,Brighton,Liverpool,Brighton,3,1,15,7,9,9,1,0,01,10,2022,15,3,2,6,6,13,2,1,0,D,A Madley,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,Brentford,Tottenham,Tottenham,Brentford,2,1,9,5,15,3,3,0,31,01,2024,19,3,0,19,5,13,5,2,0,H,D Coote,0,False
1322,Man City,Burnley,Man City,Burnley,3,2,14,4,3,7,2,0,31,01,2024,19,1,0,8,3,13,3,2,0,H,S Barrott,1,True
1323,Burnley,Man City,Man City,Burnley,1,0,8,3,13,3,2,0,31,01,2024,19,3,2,14,4,3,7,2,0,H,S Barrott,0,False
1324,Liverpool,Chelsea,Liverpool,Chelsea,4,2,28,13,15,8,2,0,31,01,2024,20,1,0,4,3,16,1,4,0,H,P Tierney,1,True
1325,Chelsea,Liverpool,Liverpool,Chelsea,1,0,4,3,16,1,4,0,31,01,2024,20,4,2,28,13,15,8,2,0,H,P Tierney,0,False

In [107]:
df_final['FTR'][0]

'A'

In [ ]:
# Now we have a row for each match from the prespective of both the home and away team. 
# We need to create a binary column to indicate if a team is playing at home or not.

df['is_home'] = (df['HomeTeam'] == df['team_playing']).astype(int)
df

In [ ]:
# create a target column to indicate if the team_playing won that match or not. 
# 1 - win, 0 - loss and draw.
df['home_win'] = (df['FTHG']>df['FTAG']).astype(int)
df['away_win'] = (df['FTHG']<df['FTAG']).astype(int)
df['draw'] = (df['FTHG']==df['FTAG']).astype(int)
df

In [ ]:
# target column is. if team_playing won the match then = 1 else 0

df['target'] = (((df['is_home'] == True) & (df['home_win'] == True)) | ((df['is_home'] == False) & (df['away_win'] == True))).astype(int)
# if is_home == 1 and home_win == 1 .apply(lambda x: 1 if (x['is_home']==1 & x['home_win']==1) else 0)then target == 1 
#df = df.drop(columns = ['Referee'])

In [ ]:
df.sort_values(by = ['Date', 'Hour', 'Referee'], inplace = True)
df = df[['team_playing', 'opponent', 'Hour', 'is_home', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST',
    'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'target']]
df

# Feature Engineering

Calculating Rolling Statistics